.gallery__delete {
  width: 18px;
  height: 19px;
  margin: 20px;
  float: right;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-image: url(../../../images/delete.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 0.25));
}

.gallery__delete:hover {
  opacity: 0.5;
}
